In [46]:
import selenium
import time #time.sleep에 필요
import pymysql

#db = pymysql.connect(host='127.0.0.1', port=3306, user='root', passwd='1234', db='ohmy', charset='utf8')
#cursor = db.cursor()

In [47]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from datetime import datetime # 날짜 관련 라이브러리
from datetime import datetime
from datetime import timedelta
from dateutil import relativedelta

# 아래부터는 뤱페이지 로딩 대기를 위해 필요한 라이브러리
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC

In [48]:
options = webdriver.ChromeOptions()
options.add_argument("user_agent=Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/106.0.0.0 Safari/537.36 Edg/106.0.1370.47")

driver = webdriver.Chrome(options=options)

driver.get('https://www.kopis.or.kr/por/stats/perfo/perfoStatsTotal.do?menuId=MNU_000135&searchWord=&searchType=total')

In [49]:
# getMonthRange 함수 개요:
# year와 month를 입력받는다 (2019, 01)
# 해당 month의 시작일자와 마지막일자를 구한다. (1월31일, 2월28일....11월30일, 12월31일)
# yyyy.mm.dd 형식으로 리턴 (2019.01.01)
def getMonthRange(year, month): 
    year = int(year)
    month = int(month)
    this_month = datetime(year=year, month=month, day=1).date()
    next_month = this_month + relativedelta.relativedelta(months=1)
    first_day = this_month
    last_day = next_month - timedelta(days=1)
    month__=format(first_day.month,'02')+'.'
    month__day=month__+format(first_day.day,'02')
    day_left= '{}.{}'.format(year,month__day)
    month__ = format(first_day.month, '02') + '.'
    month__day = month__ + format(last_day.day, '02')
    day_right = '{}.{}'.format(year, month__day)
    return day_left, day_right

In [50]:
# searchData 함수 개요 : 
# 검색 범위를 입력받는다 (dayleft, dayright) ex) 2019.01.01, 2019.01.31
# selenium 으로 웹페이지를 컨트롤해서 조회 버튼 클릭
# 결과로 나온 데이터 테이블을 crwaling 해서 result 변수에 담는다.
# result 변수를 리턴해준다.
def searchData(dayleft,dayright) : 
    elem = driver.find_element_by_id('startDate') #검색 시작 날짜
    elem.send_keys(Keys.CONTROL + 'a') # ctrl + a : 커서가 올라간 범위내 모든 텍스트 선택
    elem.send_keys(Keys.BACKSPACE) # backspace 키 입력으로 선택된 부분 clear
    elem.send_keys(dayleft) # 검색시작일자 입력 (2019.01.01)
    elem.send_keys(Keys.ENTER)
    time.sleep(1) # 엔터키 누르고 바로 넘어가면 다음 입력이 안되는 경우가 있어서 1초간 대기

    elem = driver.find_element_by_id('endDate') #검색 마지막 날짜
    elem.send_keys(Keys.CONTROL + 'a')
    elem.send_keys(Keys.BACKSPACE)
    elem.send_keys(dayright)
    elem.send_keys(Keys.ENTER)
    time.sleep(1)

    elem = driver.find_element_by_xpath('//*[@id="search_list"]/div/a') # 클릭버튼 xpath
    elem.click()
    
    # 페이지 로딩을 기다리는 내장함수, 로딩 아이콘이 사라질때 까지 대기
    wait = WebDriverWait(driver, 60).until(
        EC.invisibility_of_element_located((By.XPATH, '//*[@id="progress"]'))
    )

    table = driver.find_element_by_xpath('//*[@id="su_con"]/div[5]/table') # 결과 테이블 xpath
    tbody = table.find_element_by_tag_name('tbody') # 테이블구조 : table > thead, tbody, tfoot> tr > td
    result = ''                                     # 우리가 필요한 데이터는 tbody 에 존재하므로 tbody 선택
    
    for tr in tbody.find_elements_by_class_name("trTotal"): # 테이블 tbody 에 있는 trTotal 행 선택
        txt = tr.find_element_by_tag_name("th").get_attribute("innerText") # th는 가장 좌측에 있는 권역이름(서울, 경기도....)
        txt += ' ' + dayleft + ' ' + dayright
        for td in tr.find_elements_by_tag_name("td")[1:]: # td[0] = 합계, td[1] = 공연건수(건), td[2] = 공연건수(%), td[3] = 개막편수
            txt += ' ' + td.get_attribute("innerText").replace(',', '') # innertext는 괄호와 괄호 사이에 있는 텍스트를 읽는다 <td> innerText </td> 
        result += txt + '\n' # th + td[1], td[2].... td[마지막] 까지 문자열 데이터를 붙여서 결과 함수에 담는다. '\n'은 줄바꿈
    
    #합계부분
    #txt2 = ''
    #for tr in tbody.find_elements_by_class_name('sum.brb_e.bg'):
    #   for td in tr.find_elements_by_tag_name("td"):
    #       txt2 += td.get_attribute("innerText") + ' '
    #   #result += txt2 + '\n'
    #print(result)
    
    return result

In [51]:
# make_year_month 함수 개요:
# 시작연도 입력시 현재 연+월 에서 1달을 뺀 전체 데이터를 리턴
# ex) 2019 입력시 2019년01월부터 현재날짜인 2022년11월 바로 전달까지 리턴 (2019.01~~~~2022.10)
def make_year_month(startyear) :
    nowyear = datetime.now().year
    nowmonth = datetime.now().month
    year_month=[]
    for year in range(startyear,nowyear) :
        for month in range (1,13) :
            year_month.append((year,month))
    for month in range(1,nowmonth) :
        year_month.append((nowyear,month))
    return year_month

In [52]:
def isNumber(n):
    if n != 'NULL':
        try:
            float(n) or int(n)
        except ValueError:
            return False

    return True


def createInsertQuery(tablename : str, data : dict):
    sql= 'INSERT into `' + tablename + '` (`{}`) values ({})'
    key = '`, `'.join(list(data.keys()))
    value=', '.join(str(e) if isNumber(str(e)) else '"'+str(e)+'"' for e in data.values())
    return(sql.format(key,value))

In [72]:
def create_table(tablename):
    sql='''
    create table {}(
     seq          	 		int NOT NULL AUTO_INCREMENT PRIMARY KEY,
     location        		varchar(10),
     start_date				varchar(10),
     end_date				varchar(10),
     perf_count      		int,
     perf_per    			float,
     opening_count    	 	int,
     opening_per        	float,
     play_count      		int,
     play_per    			float,
     ticket_sale_count      INT,
     ticket_sale_per   		float,
     ticket_sale_amt     	BIGINT,
     ticket_sale_amt_per    float
); 
    '''.format(tablename)
    cursor.execute(sql)
    db.commit()

In [65]:
def  make_dict_send_query(result,tablename) :
    for i in range(0, len(result)):
        td = result[i]
        td = td.split()
        #print(td)

        location = td[0]
        start_date = td[1]
        end_date = td[2]
        perf_count = td[3]
        perf_per = td[4]
        opening_count = td[5]
        opening_per = td[6]
        play_count = td[7]
        play_per = td[8]
        ticket_sale_count = td[9]
        ticket_sale_per = td[10]
        ticket_sale_amt = td[11]
        ticket_sale_amt_per = td[12] 
        data = {
            'location' : location
            , 'start_date' : start_date
            , 'end_date' : end_date
            , 'perf_count' : perf_count
            , 'perf_per' : perf_per
            , 'opening_count' : opening_count
            , 'opening_per' : opening_per
            , 'play_count' : play_count
            , 'play_per' : play_per
            , 'ticket_sale_count' : ticket_sale_count
            , 'ticket_sale_per' : ticket_sale_per
            , 'ticket_sale_amt' : ticket_sale_amt
            , 'ticket_sale_amt_per' : ticket_sale_amt_per
        }
        query = createInsertQuery(tablename, data)
        cursor.execute(query)

In [73]:
db = pymysql.connect(host='127.0.0.1', port=3306, user='root', passwd='1234', db='miniproject', charset='utf8')

year_start=2019
tablename = 'test3'


cursor = db.cursor()
create_table(tablename)
  
year_month_list = make_year_month(year_start)

for ym in year_month_list :
    dayleft, dayright = getMonthRange(ym[0], ym[1])
    result = searchData(dayleft, dayright)
    result = result.strip().split('\n')
    make_dict_send_query(result,tablename)

          
db.commit()    
db.close()
driver.close()