In [116]:
import selenium
import time
from bs4 import BeautifulSoup
from selenium import webdriver
import requests
options = webdriver.ChromeOptions()
options.add_argument('user-agent=Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/106.0.0.0 Safari/537.36 Edg/106.0.1370.47')

In [117]:
driver = webdriver.Chrome(options=options)

In [118]:
url= "https://www.kopis.or.kr/por/stats/perfo/perfoStatsTotal.do?menuId=MNU_000135&searchWord=&searchType=total#"

In [119]:
driver.get(url)

In [144]:
soup = BeautifulSoup(driver.page_source, 'lxml')

In [145]:
seoul=soup.find_all(id='서울0')

In [146]:
for i in seoul:
    print(i)

<tr class="sub1" id="서울0" style=""><td rowspan="7" style="border-bottom: 1px solid #000;"></td><th class="num" style="position: sticky; left: 0; z-index: 1;">연극</th><td class="num">226</td><td class="num">13.3</td><td class="num">145</td><td class="num">9.9</td><td class="num">3,160</td><td class="num">37.9</td><td class="num">4,107,785</td><td class="num">9.7</td><td class="num">224,361</td><td class="num">18.9</td></tr>

In [152]:
seoul

[<tr class="sub1" id="서울0" style=""><td rowspan="7" style="border-bottom: 1px solid #000;"></td><th class="num" style="position: sticky; left: 0; z-index: 1;">연극</th><td class="num">226</td><td class="num">13.3</td><td class="num">145</td><td class="num">9.9</td><td class="num">3,160</td><td class="num">37.9</td><td class="num">4,107,785</td><td class="num">9.7</td><td class="num">224,361</td><td class="num">18.9</td></tr>]

In [161]:
for i in seoul:
    print(i.find(class_='num').text)

연극

연극22613.31459.83,16037.94,107,7859.7224,36118.9 w

In [52]:
city=['서울','경상도','경기도','전라도','충청도','강원도','제주도']

In [96]:
for a in city :
    elem= driver.find_element_by_xpath('//*[@id="{}"]'.format(a)) 
    print(elem.text)

서울 합계  ▼펼치기 757 44.6 597 40.5 5,723 68.6 770,394 64.8 33,674,643 79.9
경상도 합계  ▼펼치기 343 20.2 317 21.5 1,090 13.1 161,000 13.6 3,943,746 9.4
경기도 합계  ▼펼치기 279 16.4 264 17.9 660 7.9 127,529 10.7 2,034,761 4.8
전라도 합계  ▼펼치기 116 6.8 107 7.3 338 4.1 49,592 4.2 799,105 1.9
충청도 합계  ▼펼치기 152 9.0 144 9.8 338 4.1 55,081 4.6 1,343,946 3.2
강원도 합계  ▼펼치기 31 1.8 30 2.0 90 1.1 15,059 1.3 258,169 0.6
제주도 합계  ▼펼치기 19 1.1 14 1.0 102 1.2 9,475 0.8 115,600 0.3

'서울 합계  ▼펼치기 757 44.6 597 40.5 5,723 68.6 770,394 64.8 33,674,643 79.9'

[]

In [81]:
tag=soup.find_all(id='listBox')
t

AttributeError: ResultSet object has no attribute 'find_all'. You're probably treating a list of elements like a single element. Did you call find_all() when you meant to call find()?

In [114]:
city=['서울','경상도','경기도','전라도','충청도','강원도','제주도']
numbers=['0','1','2','3','4','5','6']

for a in city :
    total= driver.find_element_by_xpath('//*[@id="{}"]'.format(a)) 
    
for a in city :
    print("-------------{}---------------------".format(a))
    total= driver.find_element_by_xpath('//*[@id="{}"]'.format(a))
    print(total.text)
    for number in numbers : 
        
        elem= driver.find_element_by_xpath('//*[@id="{}{}"]'.format(a,number)) 
        eeee= driver.find_element_by_css_selector('#{}{}'.format(a,number))
        print(eeee.text)
        print(elem.text)
    print("-----------------------------------------------------------")

-------------서울---------------------
서울 합계  ▼펼치기 757 44.6 597 40.5 5,723 68.6 770,394 64.8 33,674,643 79.9














-----------------------------------------------------------
-------------경상도---------------------
경상도 합계  ▼펼치기 343 20.2 317 21.5 1,090 13.1 161,000 13.6 3,943,746 9.4














-----------------------------------------------------------
-------------경기도---------------------
경기도 합계  ▼펼치기 279 16.4 264 17.9 660 7.9 127,529 10.7 2,034,761 4.8














-----------------------------------------------------------
-------------전라도---------------------
전라도 합계  ▼펼치기 116 6.8 107 7.3 338 4.1 49,592 4.2 799,105 1.9














-----------------------------------------------------------
-------------충청도---------------------
충청도 합계  ▼펼치기 152 9.0 144 9.8 338 4.1 55,081 4.6 1,343,946 3.2














-----------------------------------------------------------
-------------강원도---------------------
강원도 합계  ▼펼치기 31 1.8 30 2.0 90 1.1 15,059 1.3 258,169 0.6














-----------------------------------------------------------
-------------제주도---------------------
제주도 합계  ▼펼치기 19 1.1 14 1.0 102 1.2 9,475 0.8 115,600 0.3














-----------------------------------------------------------

In [169]:
tablebox= soup.find(id='listBox')

In [174]:
seoul=tablebox.find(id='서울')

In [180]:
seoul

<tr class="trTotal" id="서울"><th style="position: sticky; left: 0; z-index: 1;">서울</th><td>합계<a href="javascript:;" onclick="detail_toggle(this);"><strong style="font-size:11px;">  ▼펼치기</strong></a></td><td class="num">757</td><td class="num">44.6</td><td class="num">597</td><td class="num">40.6</td><td class="num">5,723</td><td class="num">68.6</td><td class="num">770,394</td><td class="num">64.8</td><td class="num">33,674,643</td><td class="num">79.9</td> </tr>

In [186]:
numbers= seoul.find_all('td',class_='num')

In [188]:
for number in numbers:
    print(number.text, end = ' ')

757 44.6 597 40.6 5,723 68.6 770,394 64.8 33,674,643 79.9