# 논리 연산자

- a and b
- a or b 
- not a

In [1]:
True and True

True

In [2]:
True and False

False

In [3]:
False and False

False

In [4]:
True or False

True

In [5]:
not True

False

In [6]:
10==10

True

# 비교연산자와 논리 연산자를 함께 사용

In [9]:
10 == 5

False

In [10]:
10 != 5

True

In [12]:
10 ==10 and 10 != 5

True

In [13]:
bool(1)

True

In [14]:
bool(0)

False

# Workshop

## 합격 여부 출력하기 
- 국어, 영어, 수학, 과학 점수가 있을 때 한 과목이라도 50점 미만이면 불합격이라고 정했습니다. 다음 소스 코드를 완서하여 합격이면 True 불합격이면 False가 출력되게 만드세요.

In [19]:
korean=92
english=47
mathmatics=86
science=81
(korean>=50)and(english>=50)and(mathmatics>=50)and(science>=50)

False

- all(), any()
all(______)           
any(______) 집합체 ex)리스트

In [21]:
is_pass=[korean>=50, english>=50, mathmatics>=50, science>=50]

In [22]:
all(is_pass)

False

In [25]:
not(any(is_pass))

False

# 문자열 사용하기

In [26]:
s1= "hello"
s2= "hello"
s3='''hello'''
s4="""hello"""
type(s4)

str

In [27]:
print(s1,s2,s3,s4)

hello hello hello hello

In [31]:
s1='hello "python"'

In [33]:
print(s1)

hello "python"

In [34]:
s5= '''here is
python world 
it tis 
real!!!'''
print(s5)

here is
python world
it tis
real!!!

In [38]:
s5.count('\n')

3

In [39]:
s7='hello \'python\''

In [40]:
s7

"hello 'python'"

# Workshop

In [43]:
s= """'Python' is a "programming language"
that lets you work quickly
and
integrate systems more effectively."""

In [44]:
print(s)

'Python' is a "programming language"
that lets you work quickly
and
integrate systems more effectively.

# 리스트와 튜플

In [46]:
scores= [90,95,100,80,70,100]
type(scores)

list

In [47]:
person = ['James',17,7.25,True]

**빈 리스트 만들기
- 리스트 =[]
- 리스트 =list()

In [48]:
empty_list=[]
empty_list2=list()

-리스트 = list(range(횟수)

In [49]:
a= list(range(10))
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [50]:
b=list(range(5,10))
b

[5, 6, 7, 8, 9]

-리스트 = list(range(시작,끝,증가폭))

In [52]:
c=(list(range(0,10,2)))
c

[0, 2, 4, 6, 8]

In [54]:
d=list(range(10,0,-1))
d

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

-튜플= (값,값,값,...)
-튜플= 값,값,값......

In [55]:
a=(1,2,3,4)
a

(1, 2, 3, 4)

In [56]:
type(a)

tuple

In [57]:
c= tuple(range(5,12,3))
c

(5, 8, 11)

In [59]:
int(5.3)
list(c)

[5, 8, 11]

# Workshop

**range로 리스트 만들기**
-[5,3,1,-1,-3,-5,-7,-9]가 출력되게 만드세요

In [60]:
c=list(range(5,-10,-2))
c

[5, 3, 1, -1, -3, -5, -7, -9]

# range로 튜플 만들기
-표준입력으로 정수가 입력됩니다 range의 시작 숫자는 -10, 끝나는 숫자는 10이며 입력된 정수만큼 증가하는 숫자가 들어가도록 튜플을 만들고 해당 튜플을 출력하는 프로그램을만드세요 (input에서 안내 문자열은 출력하지 않아야합니다)
-입력:2 출력:(-10,-8,-6,-4,-2,0,2,4,6,7)

In [63]:
a=int(input())
b=tuple(range(-10,10,a))
b

2

(-10, -8, -6, -4, -2, 0, 2, 4, 6, 8)

# 시퀀스 자료형 활용하기 
- 시퀀스 자료형 : list, tuple , range ,str
- 값 in 시퀀스 객체

In [64]:
a=[1,2,3,4,5]
1 in a

True

In [65]:
10 in a

False

In [66]:
10 not in a

True

In [68]:
c="Hello"
'H'in c

True

In [69]:
9 in range(10)

True

- 시퀀스 객체1+ 시퀀스 객체2

In [70]:
a=[1,2,3,4,5]
b=[6,7,8,9,10]
c=a+b
c

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

-시퀀스 객체 *정수
- 정수 * 시퀀스 객체

In [71]:
3*[1,2,3]

[1, 2, 3, 1, 2, 3, 1, 2, 3]

-시퀀스 객체[인덱스] = 값
- 위의 문법은 list 객체에서만 유효 , tuple ,range ,str에서는 요소 값을 변경할 수 없음

- del 시퀀스객체[인덱스]
- 위의 문법은 list 객체에서만 가능

In [72]:
s="Hello"
del s[1]

TypeError: 'str' object doesn't support item deletion

- 시퀀스객체[시작인덱스:끝인덱스]

In [74]:
a=[10,20,30,40,50]
a[0:3]

[10, 20, 30]

In [75]:
a[2:] #마지막 생략 가능

[30, 40, 50]

In [76]:
a[:3] #시작 생략가능

[10, 20, 30]

In [77]:
a[:]#시작 인덱스 끝인덱스 생략하면 끝까지

[10, 20, 30, 40, 50]

In [78]:
a[3:-1]

[40]

- 시퀀스객체[시작인덱스:끝인덱스:증가폭]

In [79]:
a=list(range(0,100,10))
a

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [80]:
a[:5:2]

[0, 20, 40]

In [81]:
a[-1::-1]

[90, 80, 70, 60, 50, 40, 30, 20, 10, 0]

# Workshop

**최근 3년간 인구 출력하기**
- 리스트 year에 연도, population에 서울시 인구수가 저장되어 있습니다.
- 아래 소스 코드를 완성하여 최근 3년간 연도와 인구수를 리스트로 출력되게 만드세요.

In [82]:
year = [2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018]
population = [10249679, 10195318, 10143645, 10103233, 10022181, 9930616, 9857426, 9838892]

In [85]:
year[len(year)-3:]

[2016, 2017, 2018]

In [86]:
population[len(population)-3:]

[9930616, 9857426, 9838892]

map: 일괄적용
zip: 시퀀스 객체 두개에 대해서 짝을 지어줌

In [100]:
#year랑 population을 연결지어서 한꺼번에 출력할 수 있다
list(zip(year[-3:],population[-3:]))

[(2016, 9930616), (2017, 9857426), (2018, 9838892)]

In [101]:
dict((zip(year[-3:],population[-3:])))

{2016: 9930616, 2017: 9857426, 2018: 9838892}

**인덱스가 홀수인 요소 출력하기**
- 다음 소스 코드를 완성하여 튜플 n에서 인덱스가 홀수인 요소들이 출력되게 만드세요.

In [87]:
n = -32, 75, 97, -10, 9, 32, 4, -15, 0, 76, 14, 2

In [88]:
n[1::2]

(75, -10, 32, -15, 76, 2)

**리스트의 마지막 요소 5개 삭제하기**
- 표준 입력으로 숫자 또는 문자열 여러개가 입력되어 리스트 x에 저장됩니다(입력되는 숫자 또는 문자열의 개수는 정해져 있지 않음).
- 리스트 x의 마지막 요소 5개를 삭제한 뒤 튜플로 출력되게 만드세요.

In [104]:
x=input().split()
del x[-5:]
x=tuple(x)
x

1 2 3 4 5 6

('1',)

# Workshop 
-  하나만 가져오는것  색인
-  연속된 구간을 가져오는 것 슬라이싱

**주민번호로 성별 구분하기**
- 아래와 같은 홍길동씨의 주민번호를 대쉬(-) 기호 전후로 쪼개보자. 성별이 남자면 'male', 여자면 'female'을 출력하세요.

In [120]:
pin='881204-1068234'

In [121]:
pin=pin.split('-')
if pin[1][0]=='1' :
    print("male") 
else :
    print("female")

male

**핸드폰 번호 가리기**
- 전화번호가 문자열 phone_number로 주어졌을 때, 전화번호의 뒷 4자리를 제외한 나머지 숫자를 전부 *으로 가린 문자열을 출력하세요.
- 제한 조건
- s는 길이 4 이상, 20이하인 문자열입니다.
- 입출력 예
```
phone_number 출력 문자열
"01033334444" "*******4444"
"027778888" "*****8888"
```

In [125]:
s=input()
length=len(s)
s2=s[-4:]
s1="*"*(len(s)-4)
s3=s1+s2
print(s3)

027778888
*****8888

# 딕셔너리 
- 딕셔너리= {키:값1 , 키2:값2 ...}

In [126]:
year_pop={2016: 9930616, 2017: 9857426, 2018: 9838892}

In [127]:
type(year_pop)

dict

In [128]:
# 딕셔너리에서는 어떤 값을 찾아가기 위한 유일한 수단이 '키' 가 됨
#Note 리스트 , 튜플, 문자열 등에서는 어떤 값을 찾아가기 위해 원소의 위치를 직접 계산했음
#키는 중복이 불가능하다 .
#딕셔너리는 순서가 있는 자료형이 아니다

In [129]:
year_pop={2016: 9930616, 2017: 9857426, 2018: 9838892, 2016:100000}
#아래와 같이 (2016)을 중복해도 문법적 오류는 안나지만 중복된 키값으로 색인했을 때 올바른 값을 얻을 수 없음

In [131]:
year_pop[2016]

100000

In [132]:
#딕셔너리의 키 : 문자열, 실수 , 부울, 튜플 등 사용할 수 있음
#딕셔너리의 값: 리스트, 딕셔너리 포함에서 모든 자료형을 사용할 수 있음
#딕셔너리의 키 값으로는 읽기만 가능한 자료형이 와야함 (리스트, 딕셔너리 올 수 없음)

In [133]:
lux={'health':490, 'melee':500,'armor':18.72}

In [134]:
type(lux)

dict

In [135]:
lux={(1,2):490, 'melee':500,'armor':18.72}

In [136]:
lux

{(1, 2): 490, 'melee': 500, 'armor': 18.72}

In [137]:
lux[(1,2)]

490

**빈 딕셔너리 만들기**
- 딕셔너리 {}
- 딕셔너리 =dict()

In [138]:
x=dict()
type(x)

dict

In [139]:
x={}
type(x)

dict

**dict() 로 딕셔너리 만들기
- 딕셔너리 = dict(zip[키1,키2],[값1,값2])
- 딕셔너리 = dict([(키1,값1),(키2,값2)])

In [144]:
lux=dict(zip(['health','melee','armor'],[490,500,18.72]))

In [145]:
dict([('health',490),('melee',500),('armor',18.72)])

{'health': 490, 'melee': 500, 'armor': 18.72}

**딕셔너리의 키로 값 조회하기 
- 딕셔너리[키]

In [146]:
lux['health']

490

In [148]:
lux['attack_speed']=500

**딕셔너리에 키가 있는지 확인할때**
- 키 in 딕셔너리

In [149]:
'health' in lux

True

In [150]:
'power' in lux

False

# Workshop 
**교통 카드 시스템 만들기**
표준 입력으로 나이(만 나이)가 입력됩니다(입력 값은 7 이상 입력됨). 교통카드 시스템에서 시내버스 요금은 다음과 같으며 각 나이에 맞게 요금을 차감한 뒤 잔액이 출력되게 만드세요(if, elif 사용). 현재 교통카드에는 9,000원이 들어있습니다.
- 어린이(초등학생, 만 7세 이상 12세 이하): 650원
- 청소년(중∙고등학생, 만 13세 이상 18세 이하): 1,050원
- 어른(일반, 만 19세 이상): 1,250원
```
age = int(input())
balance = 9000 # 교통카드 잔액
________________
________________
________________
print(balance)
```

In [168]:
age=int(input())
balnace=9000
if age>=7 and age<=12 :
    balnace-=650
elif 13<= age <=18 :
    balnace-=1050
else:
    balnace-=1250
print(balnace)

13
7950

**게임 캐릭터 능력 저장**
- 표준 입력으로 문자열 여러 개와 숫자(실수) 여러 개가 두 줄로 입력됩니다. 입력된 첫 번째 줄은 키, 두 번째 줄은 값으로 하여 딕셔너리를 생성한 뒤 딕셔너리를 출력하는 프로그램을 만드세요. input().split()의 결과를 변수 한개에 저장하면 리스트로 저장됩니다.
```
(입력예)
health health_regen mana mana_regen
575.6 1.7 338.8 1.63
(결과)
{'health':575.6, 'health_regen':1.7, 'mana':338.8, 'mana_regen':1.63}
```

In [165]:
key = input().split()
value= list(map(float,input().split()))
key_value=dict(zip(key,value))
print(key_value)

health health_regen mana mana_regen
575.6 1.7 338.8 1.63
{'health': 575.6, 'health_regen': 1.7, 'mana': 338.8, 'mana_regen': 1.63}

{'health': 575.6, 'health_regen': 1.7, 'mana': 338.8, 'mana_regen': 1.63}