# for와 range 사용하기

In [1]:
for i in range(10):
    print("hello world")

hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world

```
for 변수 in range (시작,끝,증가폭):
    반복코드
```

In [4]:
for i in range(0,10,2):
    print('hello')

hello
hello
hello
hello
hello

In [5]:
for i in range(10,0,-1):
    print("Hello World", i)

Hello World 10
Hello World 9
Hello World 8
Hello World 7
Hello World 6
Hello World 5
Hello World 4
Hello World 3
Hello World 2
Hello World 1

for 변수 1, 변수 2 in enumerate(range(0,10,2)):
    print("hello")
인덱스에 해당하는게 변수1, 에 값에 해당하는게 변수2로 감

In [6]:
# 참고 enumerate는 시퀀스 객체의 값뿐만 아니라 인덱스까지 반환해줌
for i,v in enumerate(range(0,10,2)):
    print("Hello World",i,v)

Hello World 0 0
Hello World 1 2
Hello World 2 4
Hello World 3 6
Hello World 4 8

- for 변수 in 시퀀스 객체

In [7]:
for i in "Hello" :
    print(i)

H
e
l
l
o

In [8]:
for i in [1,2,3]:
    print(i)

1
2
3

In [9]:
for i in (1,2,3):
    print(i)

1
2
3

In [15]:
for i,v in enumerate("Hello"):
    print(i,v)

0 H
1 e
2 l
3 l
4 o

''' 
for i in reversed(시퀀스객체):
    반복코드
```

In [16]:
for i in reversed((1,2,3)):
    print(i)

3
2
1

In [17]:
for i in reversed("Python"):
    print(i)

n
o
h
t
y
P

# Workshop

**구구단 출력 프로그램**
- 표준 입력으로 정수가 입력됩니다. 입력된 정수의 구구단을 출력하는 프로그램을 만드세요(input에서 안내 문자열은 출력하지 않아야 합니다). 출력형식은 숫자 * 숫자 = 숫자 처럼 만들고 숫자와 *, = 사이는 공백을 한칸 띄웁니다.

```
입력 예
2

결과
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
```

In [20]:
x=int(input())

3

In [32]:
for i in range(1,10):
    
#      print(x,"*",i,"=",x*i)
#    print("%d * %d = %d" %(x,i,x*i))
    print("{}* {}= {}".format(x,i,x*i)) #0, 1, 2 가 생략되어있음 안쓰면 차례대로

3* 1* 3
3* 2* 6
3* 3* 9
3* 4* 12
3* 5* 15
3* 6* 18
3* 7* 21
3* 8* 24
3* 9* 27

In [34]:
for y in range(1,10):
    print(f"{x}*{y}={x*y}")

3*1=3
3*2=6
3*3=9
3*4=12
3*5=15
3*6=18
3*7=21
3*8=24
3*9=27

In [247]:
import random
num=0
while num!=3:
    num=random.randrange(1,7)
    print(num)

4
6
6
5
2
6
5
3

# WorkShop

주사위 던지고 눈을 출력하는 동작을 계속 반복하다가
"3"이 나왔을때 멈추기

In [35]:
import random

In [38]:
x=random.randint(1,6)
while (x!=3):
    x=random.randint(1,6)
    
print(x)

3

교통카드 잔액 출력하기

표준입력으로 금액(정수)이 입력됩니다. 1회당 요금은 1,350이고, 교통카드를 사용했을 때마다의 잔액을 각 줄에 출력하는 프로그램을 만드세요(input에서 안내 문자열은 출려갛지 않아야 합니다). 단, 최초 금액은 출력하지 않아야 합니다. 그리고 잔액은 음수가 될 수 없으며 잔액이 부족하면 출력을 끝냅니다.

In [43]:
x=int(input())
charge=1350

while(x>1350):
    x-=charge
    print(x)

5000
3650
2300
950

** **굵은 텍스트**3으로 끝나는 숫자만 출력하기**
- 0과 73 사이의 숫자 중 3으로 끝나는 숫자만 출력되게 만드세요.
```
출력예
3 13 23 33 43 53 63 73 
```

In [60]:
for i in range(74):
    if(i%10)==3 :
        print(i)

3
13
23
33
43
53
63
73

In [59]:
x=0
while x<74:
    if x%10==3  :
        print(x)
    x+=1

3
13
23
33
43
53
63
73

In [64]:
# break 문 소개 
i=0
while True :
    print(i)
    i+=1
    if i==10:
        break
print("-----------------")
# continue 소개
for i in range(5) :
    if i%2==0:
        continue
    print(i)

0
1
2
3
4
5
6
7
8
9
-----------------
1
3

In [65]:
i=0
while True:
    if i% 10!=3:
        i+=1
        continue
    if i>73:
        break
    print(i, end=" ")
    i+=1

3 13 23 33 43 53 63 73

**알파벳별 빈도 사전 등록**
- 다음의 주어진 문자열 s에서 알파벳 별 빈도를 사전형인 d에 등록하는 파이썬 코드블럭을 작성하시오. 

```
s = ‘life is short, so python is easy.’ 
punct = ‘,. ’ 
d = {} 

결과 print(d) (순서는 상관 없음)
{'a': 1, 'e': 2, 'f': 1, 'i': 3, 'h': 2, 'l': 1, 'o': 3, 'n': 1, 'p': 1, 's': 5, 'r': 1, 't': 2, 'y': 2}

In [58]:
s = "life is short, so python is easy."
alpha="abcdefghijklmnopqrstuvwxyz"
d={}
for a in alpha :
    if a in s :
        d[a]=s.count(a)
print(d)

{'a': 1, 'e': 2, 'f': 1, 'h': 2, 'i': 3, 'l': 1, 'n': 1, 'o': 3, 'p': 1, 'r': 1, 's': 5, 't': 2, 'y': 2}

In [71]:
s = "life is short, so python is easy."
punct=',. '
d2={}
for c in s:
    if c in punct:
        continue
    if c not in d2:
        d2[c]=0 # 0으로 초기화 해주고 
    if c in d2:
        d2[c]+=1
print(d2)

{'l': 1, 'i': 3, 'f': 1, 'e': 2, 's': 5, 'h': 2, 'o': 3, 'r': 1, 't': 2, 'p': 1, 'y': 2, 'n': 1, 'a': 1}

# 중첩루프 사용하기

In [80]:
for i in range(10) :
    
    for j in range(5) :
        print("*",end=" ")
    print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *
* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [120]:
# 계단식으로 별 출력하기

for i in range(1,6):
    for j in range(i):
        print("*",end='')
    print()

*
**
***
****
*****

In [102]:
# 역계단식으로 별 출력하기
for i in range(5,0,-1):
    for j in range(i):
        print("*",end='')
    print()

*****
****
***
**
*

In [132]:
for i in range(5,0,-1):
    for k in range(5-i):
        print(" ",end="")
    for j in range(i):
        print("*",end="")
    print()

*****
 ****
  ***
   **
    *

In [138]:
#별로 산만들기
for i in range(0,5):
    k=4-i
    print(" "*k,end="")
    for j in range(2*i+1):
        print("*",end="")
    print()

    *
   ***
  *****
 *******
*********

In [134]:
for i in range(5):
    for j in range(4-i): 
        print(" ",end="")
    for k in range(2*i+1):
        print("*",end="")
    print()

    *
   ***
  *****
 *******
*********

FizzBuzz 문제

- 1에서 100까지 출력
- 3의 배수는 Fizz 출력
- 5의 배수는 Buzz 출력
- 3과 5의 공배수는 FizzBuzz 출력

In [144]:
for i in range(1,101):
    
    if i%3==0 and i%5==0:
        print("FizzBuzz")
        
    elif i%3==0 :
        print("Fizz")
        
    elif i%5==0 :
        print("Buzz")
    else:
        print(i)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz

# Workshop

**리스트에서 특정 요소만 뽑아내기**
- 리스트 a에 들어있는 문자열 중에서 길이가 5인 것들만 리스트 형태로 출력되게 만드세요
- a = ['alpha', 'bravo', 'charlie', 'delta', 'echo', 'foxtrot', 'golf', 'hotel', 'india']

In [145]:
a = ['alpha', 'bravo', 'charlie', 'delta', 'echo', 'foxtrot', 'golf', 'hotel', 'india']
for x in a :
    if len(x)==5:
        print(x,end=" ")

alpha bravo delta hotel india

# 리스트 응용하기
- append: 요소 하나 추가 
- extend : 리스트를 연결하여 확장
- insert: 특정 인덱스에 요소추가

In [146]:
a=[10,20,30]
a.append(500)

In [147]:
a

[10, 20, 30, 500]

In [154]:
a=[10,20,30]
b=[40,50,60]
a.extend(b)

In [155]:
a.insert(-1,2000)
a

[10, 20, 30, 40, 50, 2000, 60]

- insert(0,요소): 리스트의 맨 처음에 요소를 추가
- insert(len(리스트),요소) 리스트의 맨 끝에 요소를 추가
- pop: 마지막 요소 또는 특정 인덱스의 요소를 삭제
- remove(값): 특정 값을 찾아서 삭제

In [160]:
a=[10,20,30]
x=a.pop(1)
x

20

In [161]:
a

[10, 30]

- index(값) : 리스트에서 특정 값의 인덱스 구함
- count(값) : 리스트에서 특정 값의 개수를 구함
- reverse() 리버스에서 요소의 순서를 반대로 
- sort(): 리스트의 요소를 정렬함( 오름차순)
- clear() 리스트의 모든 요소 삭제

In [163]:
a=[10,20,30]
a.reverse()
a

[30, 20, 10]

In [164]:
a[-1::-1]

[10, 20, 30]

In [165]:
a=[10,50,-1,0,4,10000]
a.sort(reverse=True) # default  값은 False입니다
a

[10000, 50, 10, 4, 0, -1]

- = 
- copy

In [166]:
a=[0,0,0,0]
b=a
a is b

True

In [168]:
b[1]=1000
a

[0, 1000, 0, 0]

- copy()와 deepcopy()의 차이

In [171]:
a=[[10,20],[30,40]]
b=a.copy()

In [172]:
b[0][0]=1000
b

[[1000, 20], [30, 40]]

In [173]:
import copy

In [174]:
a=[[10,20],[30,40]]
b=copy.deepcopy(a) #차원이 깊어져도 딥카피 가능

**반복문으로 리스트 요소 출력하기**

In [175]:
for i in a:
    for j in i:
        print(j)

10
20
30
40

- for 인덱스, 요소 in enumerate(리스트):

In [176]:
a=[10,20,30]
for i,v in enumerate(a) :
    print(i,v)

0 10
1 20
2 30

**리스트의 가장 작은수, 가장 큰 수 , 합계**

In [178]:
a=[10,20,30,40]
print(min(a),max(a),sum(a))

10 40 100

** 리스트 표현식(List Comprehension)**

-[식 for 변수 in 리스트]

In [180]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [181]:
[i*2 for i in range(10)]

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [182]:
word_list=['python','is','easy']
[len(i) for i in word_list]

[6, 2, 4]

In [201]:
a=[1,2,3,4]
a.count(1)

1

# Workshop
**자동 로또 번호 생성기**
- 1~45 숫자 중에서 6개를 고르는 로또 번호를 자동으로 만들어 주는 프로그램 작성하기
- 사용자가 입력한 개수만큼 번호 쌍을 생성하기(예: 5를 입력하면 5 세트의 번호가 생성되도록 하기)
- 한번 뽑히것은 뽑히지 않도록 하고, 최종 출력은 오름차순 정렬해서 보여주기

In [191]:
import random

In [203]:

push=int(input())
for j in range(push):
    x=[]
    i=0
    while i<6 :
        k=random.randint(1,45)
       # take=radom.sample(range(1,46),6)
        if k not in x :
            x.append(k)
            i+=1
        else:
            continue
    x.sort()
    print(x)

5
[6, 7, 10, 12, 22, 45]
[4, 12, 16, 28, 34, 40]
[3, 8, 16, 17, 19, 45]
[14, 22, 30, 37, 38, 43]
[2, 6, 8, 15, 23, 30]

In [206]:
import random 
count=(int(input()))
total=[]
for i in range(count):
    lotto=random.sample(range(1,46),6)
    lotto.sort()
    total.append(lotto)
total

4

[[9, 15, 23, 31, 32, 35],
 [5, 14, 19, 26, 30, 35],
 [13, 15, 18, 29, 39, 45],
 [3, 17, 18, 27, 32, 36]]

# 문자열 응용하기 
- replace('바꿀문자열, '새문자열'): 문자열 바꾸기
- split('기준문자열') : 문자열 분리하기

In [207]:
s="Hello, World!"
result= s.replace("World","Python")
result

'Hello, Python!'

- '구분자'. join(리스트) 리스트 내용을 apple-list-sdsd 이런식으로
- upper() 대문자로 바꿈
- lower() 소문자로 바꿈
- strip() 문자열 양쪽에 있는 연속된 모든 공백을 삭제
- lstrip() 문자열 왼쪽에 있는 연속된 모든 공백을 삭제
- rstrip() 문자열 오른쪽에 있는 연속된 모든 공백을 삭제

In [208]:
'python'.upper()

'PYTHON'

In [218]:
a= "     ....          python       ....           "
a=a.upper()
a

'     ....          PYTHON       ....           '

In [219]:
a=a.lower()
a

'     ....          python       ....           '

In [223]:
a.strip('.... ')

'python'

In [217]:
a.lstrip()

'python                  '

In [224]:
a=a.strip('.... ')
a.center(20) #20길이만큼의 전체 사이즈를 확보하고 문자열을 중간에 배치

'       python       '

- index('찾을문자열') 없으면 에러 문자열에서 특정문자열을 찾아서 인덱스를 반환하고 없으면 에러
- lindex 왼쪽부터 rindex 오른쪽부터 찾음
- find ('찾을문자열') 없으면 리턴값 -1 문자열에서 특정문자열을 찾아서 인덱스를 반환하고 없으면 -1

**서식 지정자**

In [225]:
name="최세현"
"나는 %s입니다" %name

'나는 최세현입니다'

In [226]:
age= 10
"나이는 %d살 입니다" %age

'나는 10살 입니다'

In [227]:
score=4.2 
"내 학점은 %.2f 입니다" %score

'내 학점은 4.20 입니다'

In [228]:
"나는 %s입니다 나이는 %d살 입니다 내 학점은 %.2f 입니다" %(name, age,score)

'나는 최세현입니다 나이는 10살 입니다 내 학점은 4.20 입니다'

**format 함수**

In [230]:
name='최세현'
"나는 {} {}살 학점 {}입니다".format(name,age,score)

'나는 최세현 10살 학점 4.2입니다'

In [231]:
f=open('myFile.txt','w')
f.write('This is my first file')
f.close()

In [232]:
f=open('myFile.txt','r')
file_text=f.read()
f.close()
print(file_text)

This is my first file

In [235]:
f=open('two_times_table.txt','w')
for num in range(1,6):
    format_string="2 x {0} = {1} \n".format(num,2*num)
    f.write(format_string)
f.close()

In [236]:
f=open("two_times_table.txt")
line1=f.readline()
line2=f.readline()
f.close()
print(line1,end='')
print(line2,end='')

2 x 1 = 2
2 x 2 = 4

In [237]:
f=open("two_times_table.txt")
line=f.readline()
while line:
    print(line,end='')
    line=f.readline()
f.close()

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10

In [240]:
f=open("two_times_table.txt")
lines=f.readlines()
f.close()
for line in lines:
    print(line, end="")

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10